.sketchingMainContainer {
    height:100%;
}

.sketchingToolsNavigation {
    /*height: 208px!important;*/
    height: 90%!important;
    overflow: auto!important;
}

.sketchingTabs {
    height: 90%!important;
}

.v-menu__content.theme--light.menuable__content__active {
    background-color: inherit;
}

.sizeSliderLayout {
    padding-top: 10px!important;
}

.line-style-picker .v-list .v-list__tile {
    padding: 0;
}
.fill-style-picker .v-list .v-list__tile {
    padding: 0;
}

.text-blur-picker .v-input.v-input--slider {
    padding: 0 8px!important;
}

.text-blur-picker .vc-chrome {
    width: 100%!important;
}

.text-angle-label {
    align-self: center;
    padding-left: 4px!important;
    padding-right: 8px!important;
}
.text-angle-picker .v-input.v-text-field {
    width: 3em;
}

.construction_panel_interior .v-input.v-input--selection-controls {
    padding-right: 8px!important;
}

.construction_panel_interior .v-input.v-text-field {
    width: 4em!important;
}
